.header {
    padding-top: 1.5rem;
    margin-bottom: 1rem;
}

.logo {
    display: block;
    max-width: 180px;
    margin: 0 auto;
}

.layout section:not(:last-child) {
    margin-bottom: 3rem;
}

.layout h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.about {
    padding: 1.5rem;
    background: #efeeff;
    border-radius: 3px;
}

.about h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 0 0 1rem 0;
}

.about p {
    font-size: 1.125rem;
    margin-bottom: 0;
}

.see-all-container a {
    display: inline-block;
    padding: .25rem .75rem;
    border: 1px solid #6241c5;
    border-radius: 3px;
}

.see-all-container a:hover {
    border-color: #bf3599;
}

@media (min-width: 500px) {
    .see-all-container {
        text-align: right;
    }
}

