.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.pagination a {
    display: block;
    padding: .25rem .75rem;
    border: 1px solid #3935bf;
    border-radius: 3px;
}

.pagination a:hover {
    border-color: #bf3599;
}

@media (min-width: 500px) {
    .pagination {
        justify-content: flex-end;
    }

    .pagination a:not(:last-child) {
        margin-right: 1rem;
    }
}
